# Node.js
node_modules/
npm-debug.log
.env

# Docker
Dockerfile~
docker-compose.override.yml
.dockerignore~

# Logs
logs/
*.log
*.out
*.err

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo
.history/
